[Resolve]
DNS={{ dns_servers | default("78.157.42.100 78.157.42.101") }}
FallbackDNS={{ fallback_dns | default("1.1.1.1 8.8.8.8") }}
#Domains=
#LLMNR=no
#MulticastDNS=no
#DNSSEC=no
#Cache=yes
#DNSStubListener=yes
